html {
    background-image: url("America.png");
}

body {
    background-color: greenyellow;
   
    color: black;
    margin: auto;
    max-width: 800px;
    padding: 1em;
    width: 80%;
}

header {
    text-align: center;
}

p {
    font-size: 2rem;
    text-shadow: 1px;
    letter-spacing: 0rem;
    transform: none;
}

h1 {
    text-align: center;
    color: black;
    border: 5px solid black;
    border-radius: 4px;
    font-style: italic;
}

body a {
    font-weight: bold;
    text-decoration: none;
}

body a:link { 
    color: black;
}

body a:visited {
    color: purple;
}

body a:hover {
    text-decoration: underline;
}

body a:focus {
    color: blue;
}

body a:active {
    color: blue
}

body img {
   width: 200px;
   height: 200px; 
}

video {
    width: 33%;
    padding: 6px;
    box-sizing: border-box;
    height: 238px;
}